<h1>Log In</h1>
<p>Administrators can sign in here</p>

<%= form_tag log_in_path do %>
	<%= label_tag(:email) %>
	<%= text_field_tag(:email) %>
	<%= label_tag(:password) %>
	<%= password_field_tag(:password) %>
	<%= submit_tag("Log In") %>
<% end %>
