<div id="recent-reports-wrapper">
	<h2>Recent Reports</h2>
		<%= link_to "[see all]", reports_path, id: :see_all_reports %>
		<div class="reports">
			<% @reports.reverse.first(10).each do |t| %>
				<div class="reports-individual">
					<h3 class="report-title"> <%= t.title %> </h3>
					<p class="report-body"> <%= t.body.truncate_words(5) %> </p>
					<p class="time-posted">Posted: <%= time_ago_in_words(t.created_at) %> ago</p>
					<%= link_to "Report details", report_path(t), class: :report_details %>
				</div>
			<% end %>
		</div>
</div>