<div class='admin_flag_wrapper'>
	<div class='admin_flag_content'>
		<h2>Review Flagged Reports / Comments</h2>
		<hr>
		<% @reports.each do |r| %>
			<% r.comments.each do |f| %>
				<% if r.flag_report == true || f.flag == true  %>
					<h3 class="report-title"><%= r.title %></h3>
					<p class="report-body"><%= r.body %></p>
					<p class="report-time-posted">Posted: <%= time_ago_in_words(r.created_at) %> ago</p>
					<%= link_to "Edit Report", edit_report_path(r) %>
					<%= link_to "Delete Report", r, method: :delete %>
					<% if r.flag_report == true %>
						<%= form_for r, remote: true do |z| %>
							<%= z.hidden_field :flag_report , value: false %>
							<%= z.submit "Unflag", class: :flagged %>
						<% end %>
					<% end %>
					<br><br>
					<h4>Comments</h4>
					<p class="commenter">From: <%= f.name %></p>
					<p class="comment-text"><%= f.body %></p>
					<%= link_to "Edit Comment", edit_comment_path(f) %>
					<%= link_to "Delete Comment", f, method: :delete %>
					<% if f.flag == true %>
						<%= form_for f, remote: true do |f| %>
							<%= f.hidden_field :flag , value: false %>
							<%= f.submit "Unflag", class: :flagged %>
						<% end %>
					<% end %>
					<hr>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
