
<div id="wrapper">
	<div class="show-report">
	<h2>Report detail</h2>

	<h3 class="report-title"><%= @report.title %></h3>
	<p class="report-body"><%= @report.body %></p>
	<%= image_tag @report.photo.url(:thumb) %>
	<br>
	<p class="report-time-posted">Posted: <%= time_ago_in_words(@report.created_at) %> ago</p>

	<% if @report.flag_report == false || @report.flag_report == nil %>
						<%= form_for @report, remote: true do |z| %>
							<%= z.hidden_field :flag_report , value: true %>
							<%= z.submit "⚑ Flag as Inappropriate" %>
						<% end %>
					<% else %>
						<br>
						<button class="flagged">This report has been flagged for removal</button>
					<% end %>

					<% if current_user %>
						<%= link_to "Edit Report", edit_report_path(@report) %>
						<%= link_to "Delete Report", report_path(@report), method: :delete %>
					<% end %>
					<hr>


					<h4>Make a comment</h4>

						<%= form_for @comment do |c| %>
						<%= c.text_field :name, placeholder: "Your name (optional)" %>
						<%= c.text_field :body, placeholder: :comment %>
						<br>
						<%=c.label "Prove you're not a robot:" %>
						<%= c.label :humanizer_answer, @comment.humanizer_question %>
						<%= c.text_field :humanizer_answer %>
						<%= c.hidden_field :humanizer_question_id %>
						<%= c.hidden_field :report_id, value: @report.id %>
						<%= c.hidden_field :flag, value: false %>
						<br>
						<%= c.submit "Comment", id: :comment_submit %>
					<% end %>


						<div id="comment-wrapper">
							<h4>Previous comments</h4>
						<% @report.comments.reverse.each do |f| %>
						<div class="comment-individual">
							<p class="commenter">From: <%= f.name %></p>
							<p class="comment-text"><%= f.body %></p>
							<p class="comment-time-posted">Posted: <%= time_ago_in_words(f.created_at) %> ago</p>

							<% if f.flag == false || f.flag == nil %>
								<%= form_for f, remote: true do |f| %>
									<%= f.hidden_field :flag , value: true %>
									<%= f.submit "⚑ Flag as Inappropriate", class: :unflagged %>
								<% end %>
							<% else %>
								<button class="flagged">This comment has been flagged for removal</button>
							<% end %>
							</div>
						<% end %>
						</div>
	</div>
</div>

