<!DOCTYPE html>
<html>
<head>
  <title>StreetReport</title>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<nav>
		<ul class="left">
			<li><img src="/megaphone.png"></li>
		</ul>
		<ul class="right">
			<li><%= link_to "MAP", root_path %></li>
			<li><%= link_to "ALL REPORTS", reports_path %></li>
			<li><a href="#">GET ALERTS</a></li>
			<li><a href="#">CONTACT</a></li>
		</ul>
	</nav>

	<div id="wrapper">
		<%= yield %>
	</div>

	<footer>
	</footer>

	
</body>
</html>
